<footer class="footer">
    <div class="container footer-container">
        <h2 class="footer-title">Precision, timing, and focus — every puzzle begins with a single tap</h2>
        <div class="footer-wrap">
        <a class="footer-link-btn btn" href="https://play.google.com/store/apps/details?id=com.dgame.colorcircle&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play">
        </a>
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms & Conditions</a>
            </li>
        </ul>
        <p class="footer-text">© 2026 — All rights reserved. ironrange.online</p>
    </div></div>
</footer>