<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">Break the shield. Strike the core.</h1>
        <p class="home-text">Armor: Color Circles Breaker places you at the center of a spinning battlefield.<br/>
        A rotating wheel of rings surrounds a protected core, and your task is to break through its defenses.<br class="desk"/> Launch balls at
        the right moment, smash through the correct tiles, and strike the center before the spinning armor stops you. <br/>You'll
        need steady hands and perfect timing if you want to crack this thing open.</p>
        <a class="home-link btn" href="https://play.google.com/store/apps/details?id=com.dgame.colorcircle&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play">
        </a>
        <p class="home-rules">Version: 2.0 | Released: Nov 18, 2020 <span class="home-span">|</span><br class="mob"/>
        Android: 6.0+ | Downloads: 1,000+</p>
    </div>
</section>