.footer{
  background: #303234;
  margin-top: -1px;
}
.footer-title{
  font-family: "Hanuman", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #dedfe0;
    width: 313px;
    margin-left: auto;
    margin-right: auto;
}
.footer-link-btn{
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}
.footer-navigation{
  margin-top: 32px;
  display: flex;
  justify-content: center;
 gap: 32px;
text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #dedfe0;
}
.footer-text{
  margin-top: 32px;
  color: #dedfe0;
}
@media only screen and (min-width: 1440px) {
.footer-title{
  width: 100%;
  font-size: 24px;
}
.footer-wrap{
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-link-btn{
  margin-top: 0;
  order: 2;
}
.footer-navigation{
  margin-top: 0;
  order: 3;
  gap: 60px;
}
.footer-text{
  margin-top: 0;
  order: 1;
}
}